@model FriendModel
<link rel="stylesheet" type="text/css" href="~/css/socials.css">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Friend Requests</h2>
            @if (Model.FriendRequests != null && Model.FriendRequests.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Profile Image</th>
                            <th>Tags</th> 
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.FriendRequests.Count; i++)
                        {
                            var friendRequest = Model.FriendRequests[i];
                            var tags = Model.RequestTags[i]; // Get the tags for the user
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(friendRequest.ProfileImageName))
                                    {
                                        <img src="@friendRequest.ProfileImageName" alt="@friendRequest.DisplayName's profile image" width="200" height="200" />
                                    }
                                    else
                                    {
                                        <img src="~/media/BOUG Logo Circle.png" alt="Default image" width="200" height="200" />
                                    }
                                </td>
                                <td>
                                    @if (!String.IsNullOrEmpty(tags))
                                    {
                                        <span class="tag">@tags</span>
                                    }
                                    else
                                    {
                                        <span>No tags</span>
                                    }
                                </td>
                                <td>@(friendRequest.UserName.Split('@')[0])</td>
                                <td>
                                    <form action="/api/FriendApi/RespondToFriendRequest/@friendRequest.Id/true" method="post">
                                        <button type="submit" class="btn btn-accept">Accept</button>
                                    </form>
                                    <form action="/api/FriendApi/RespondToFriendRequest/@friendRequest.Id/false" method="post">
                                        <button type="submit" class="btn btn-reject">Decline</button>
                                    </form>
                                </td>
                             </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No friend requests</p>
            }
        </div>
        <div class="col-md-6">
            <h2>Friends</h2>
            @if (Model.Friends != null && Model.Friends.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Profile Image</th>
                            <th>Tags</th>
                            <th>User Name</th>
                            <th>Action</th> <!-- Add a new header for the action column -->
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Friends.Count; i++)
                        {
                            var friend = Model.Friends[i];
                            var tags = Model.FriendTags[i];
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(friend.ProfileImageName))
                                    {
                                        <img src="@friend.ProfileImageName" alt="@friend.DisplayName's profile image" width="200" height="200" />
                                    }
                                    else
                                    {
                                        <img src="~/media/BOUG Logo Circle.png" alt="Default image" width="200" height="200" />
                                    }
                                </td>
                                <td>
                                    @if (!String.IsNullOrEmpty(tags))
                                    {
                                        @foreach (var tag in tags.Split(','))
                                        {
                                            <span class="tag">@tag.Trim()</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>No tags</span>
                                    }
                                <td style="color:white;">@(friend.UserName.Split('@')[0])</td>
                                <td>
                                    <form action="/api/FriendApi/RemoveFriend/@friend.Id" method="post">
                                        <button type="submit" class="btn btn-unfriend">Unfriend</button>
                                    </form>
                                </td>
                             </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No friends</p>
            }
        </div>
    </div>
</div>