@using CulturNary.Web.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model IDictionary<SiteUser, bool>
@{
    var currentUserId = ViewBag.CurrentUserId as string;
}
<table class="adminTable">
    <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            var user = entry.Key;
            var isAdmin = entry.Value;
            <tr data-user-id="@user.Id">
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@(string.IsNullOrEmpty(user.PhoneNumber) ? "No phone number provided" : user.PhoneNumber)</td>
                <td>
                    @if (!isAdmin)
                    {
                        <button class="make-admin-button" data-user-id="@user.Id">Make Admin</button> 
                    }
                    @if (isAdmin){
                        @: Already Admin
                    }
                    @if (user.Id != currentUserId)
                    {
                        <button class="delete-user-button" data-user-id="@user.Id">Remove User</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">User Details</h4>
      </div>
      <div class="modal-body">
        <p><strong>ID:</strong> <span id="userId"></span></p>
        <p><strong>Username:</strong> <span id="userName"></span></p>
        <p><strong>Normalized Username:</strong> <span id="normalizedUserName"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Normalized Email:</strong> <span id="normalizedEmail"></span></p>
        <p><strong>Email Confirmed:</strong> <span id="emailConfirmed"></span></p>
        <p><strong>Phone Number:</strong> <span id="phoneNumber"></span></p>
        <p><strong>Two Factor Enabled:</strong> <span id="twoFactorEnabled"></span></p>
      </div>
      <div class="modal-footer">
        <h4 class="modal-title">Collections</h4>
        <div id="collections"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/MakeAdminBtn.js"></script>
<script src="~/js/DeleteUserBtn.js"></script>
<script src="~/js/ModalAdmin.js"></script>