@model IEnumerable<CulturNary.Web.Models.FavoriteRecipe>

<style>
    .btn-custom {
        border-radius: 50px;
        background: linear-gradient(to right, #BDB76B, #F5F5DC);
        color: white;
        border: none;
        transition: all 0.5s;
    }

    .btn-custom:hover {
        background-position: right;
        color: #BDB76B;
    }
</style>

<div class="container" style="color: #BDB76B;">
    <h2 class="text-center mb-4">Your Favorite Recipes</h2>

    <div class="form-group">
        <input type="text" class="form-control" id="searchFavorites" name="search" placeholder="Search recipes" data-url="@Url.Action("SearchFavoriteRecipes", "UserRecommendations")" style="color: #BDB76B;">
    </div>

    <div id="recipeTable">
        @if (!Model.Any())
        {
            <div class="alert alert-info text-center" style="color: #BDB76B;">You have no favorite recipes.</div>
        }
        else
        {
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th style="color: #BDB76B;">Image</th>
                        <th style="color: #BDB76B;">Favorite Date</th>
                        <th style="color: #BDB76B;">Label</th>
                        <th style="color: #BDB76B;">URI</th>
                        <th style="color: #BDB76B;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recipe in Model)
                    {
                        <tr>
                            <td>
                                <img src="@recipe.ImageUrl" alt="Recipe Image" width="200" height="200" style="color: #BDB76B;">
                            </td>
                            <td style="color: #BDB76B;">@recipe.FavoriteDate.ToString("d")</td>
                            <td style="color: #BDB76B;">@recipe.Label</td>
                            <td><a href="@recipe.Uri" class="btn btn-custom" target="_blank" style="color: black;">Link to Recipe</a></td>
                            <td>
                                <form method="post" asp-controller="UserRecommendations" asp-action="DeleteFavoriteRecipe" asp-route-id="@recipe.Id">
                                    <button type="submit" class="btn btn-custom" style="color: black;">Unfavorite</button>
                                </form>
                                <!-- Add Share button here -->
                                <button type="button" class="btn btn-custom share-btn" data-toggle="modal" data-target="#shareModal" data-recipe-id="@recipe.Id" style="color: black;">Share</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="shareModalLabel">Share Recipe</h5>
            </div>
            <div class="modal-body">
                <select id="friendSelect" class="form-control bg-secondary text-light"></select>
            </div>
            <div class="modal-footer border-top-0 justify-content-between">
                <button style="background-color: #BDB76B; color: white;" type="button" class="btn btn-primary" id="shareRecipeBtn">Share</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/FavoriteRecipeSearch.js"></script>
<script src="~/js/FavoriteRecipeShare.js"></script>